.order-card {
    min-width: 350px;
    height: 100%;
    max-height: calc(100vh - 40px - 115px - 12px - 12px);
    margin-right: 18px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.order-card-low{
    background-color: #FFFFFF;
}

.order-card-middle {
    background-color: #FAB807;
}

.order-card-high {
    background-color: #FF483A;
}